seguro.lojaoculos.localhost:443 {
    tls internal

    handle_path /api/* {
        reverse_proxy http://host.docker.internal:5173
    }

    handle {
        reverse_proxy http://host.docker.internal:3000
    }
}
seguro.lojachuteiras.localhost:443 {
    tls internal
    
    handle_path /api/* {
        reverse_proxy http://host.docker.internal:5173
    }

    handle {
        reverse_proxy http://host.docker.internal:3000
    }
}
