@import '#build/ui.css';
@import './base/css/typography.css' layer(components);
@import './base/css/layout.css' layer(components);
@import './base/css/button.css' layer(components);
@import './base/css/form.css' layer(components);
@import './base/css/radio.css' layer(components);
@import './base/css/radio-card.css' layer(components);
@import './base/css/card.css' layer(components);
@import './blocks/css/step.css' layer(components);
@import './blocks/css/blocks.css' layer(components);

@layer base {
  :root {
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.85 0 0);
    --ring: oklch(0.708 0 0);
  }

  .checkout-container {
    @apply max-w-[1200px] mx-auto p-4 flex flex-col md:flex-row gap-6;
  }
}

@theme inline {
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

.font-medium {
  @apply font-medium;
}

.cvv {
  @apply grid grid-cols-2 gap-4;
}

.tooltip-content {
  /*@apply bg-primary text-primary-foreground animate-in fade-in-0 zoom-in-95 z-50 w-fit rounded-md px-3 py-1.5 text-xs text-balance;*/
  @apply bg-checkout-bg text-checkout-fg z-50 w-fit rounded-md px-3 py-1.5 text-xs text-balance;
  /*@apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;*/
  /*@apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;*/
}

.tooltip-content__arrow {
  @apply bg-checkout-bg fill-checkout-fg z-50 size-2.5 translate-y-[calc(-50%_-_2px)] rotate-45 rounded-[2px];
}

#form-checkout {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.field-container {
  @apply flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-checkout-bg;
}
.field-container--focused {
  @apply bg-checkout-bg outline-none ring-2 ring-ring ring-offset-2;
}
.field-container--error {
  @apply bg-destructive/10 border-destructive;
}

#loading-message {
  display: none;
}

#form-checkout__issuer,
#form-checkout__identificationType,
#form-checkout__email {
  display: none;
}

.hidden {
  display: none;
}

.form {
  @apply flex flex-col gap-1.5;
}

.poweredbymercadopago {
  @apply mt-4 text-sm text-gray-500 text-center;
}

.poweredbymercadopago svg {
  @apply w-4 h-4 inline-block ml-1 text-emerald-500;
}