@import 'tailwindcss';

:root {
  --radius: 0.625rem;
  --background: oklch(0.97 0.0034 247.86);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: "Rubik", sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .button {
    @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors;
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
    @apply disabled:pointer-events-none disabled:opacity-50;
    @apply [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
  }
  
  .button--primary {
    @apply bg-primary text-primary-foreground hover:bg-primary/90;
  }
  
  .button--destructive {
    @apply bg-destructive hover:bg-destructive/90;
  }
  
  .button--outline {
    @apply border border-input bg-background hover:bg-accent hover:text-accent-foreground;
  }
  
  .button--secondary {
    @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
  }
  
  .button--ghost {
    @apply hover:bg-accent hover:text-accent-foreground;
  }
  
  .button--link {
    @apply text-primary underline-offset-4 hover:underline;
  }
  
  /* Size modifiers */
  .button--md {
    @apply h-10 px-4 py-2;
  }
  
  .button--sm {
    @apply h-9 rounded-md px-3;
  }
  
  .button--lg {
    @apply h-11 rounded-md px-8;
  }
  
  .button--icon {
    @apply h-10 w-10;
  }

  .form-row {
    @apply flex flex-col gap-2 mb-4;
  }

  /* .input-field {
    @apply w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none;
  } */

  .input-field {
    @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background;
    @apply file:border-0 file:bg-transparent file:text-foreground file:text-sm file:font-medium;
    @apply placeholder:text-muted-foreground;
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
  }

  .checkout-container {
    @apply max-w-[1200px] mx-auto p-4 flex flex-col md:flex-row gap-6;
  }

  .left-column {
    @apply flex flex-col gap-6 flex-[2] order-2 md:order-1;
  }

  .payment-column {
    @apply flex-1 order-3 md:order-2;
  }

  .summary-column {
    @apply flex-1 order-first md:order-3;
  }

  .form-section {
    @apply bg-white p-6 rounded-lg shadow-md space-y-6;
  }

  .header {
    @apply flex gap-3 text-sm;
  }

  .header__track .number {
    @apply bg-[#666666] text-white flex items-center justify-center rounded-full size-5;
  }

  .header__text {
    @apply text-[#666666];
  }

  /*.step-container {*/
  /*  @apply mb-8 flex items-center justify-between relative;*/
  /*}*/

  /* .step-item {
    @apply w-8 h-8 rounded-full flex items-center justify-center bg-gray-200 text-gray-600 font-semibold z-10;
  } */

  /* .step-item.active {
    @apply bg-blue-600 text-white;
  } */

  /* .step-connector {
    @apply absolute top-1/2 left-0 w-full h-1 bg-gray-200 transform -translate-y-1/2;
  } */

  .summary-item {
    @apply flex justify-between py-2 border-b border-gray-200;
  }
}
